body {
  color: black;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 300;
  background: #3D3D3D; }

ul, li {
  list-style: none;
  margin: 0; }

select {
  height: 2em;
  margin: 0 0 1em; }

#header {
  background: #1F1F1F;
  height: 75px; }

#logo a {
  display: inline-block;
  margin-left: -13px;
  }

#user-menu {
  float: right;
  padding: 6px 6px 0 6px;
  height: 42px; }
  #user-menu:hover {
    background: #333333; }
  #user-menu span {
    color: white;
    display: inline-block;
    margin: 8px 0 0 0;
    vertical-align: top; }
  #user-menu .arrow {
    float: right;
    color: gray;
    line-height: 33px;
    margin: 0 0 0 4px; }

#container-menu {
  background: #3d3d3d;
  padding: 0; }
  #container-menu li {
    border-bottom: solid 1px #595959;
    min-height: 35px;
    line-height: 35px; }
    #container-menu li a {
      padding: 0 0 0 20px;
      width: 100%;
      color: white;
      display: inline-block; }
      #container-menu li a:hover {
        background: #313131; }
      #container-menu li a .arrow-menu {
        float: right;
        font-size: 18px;
        height: 35px;
        line-height: 32px; }
      #container-menu li a i {
        font-size: 14px;
        vertical-align: top;
        margin: 0 5px 0 0;
        color: gray; }

#container-menu .menu-selected {
  background: #E02222; }
  #container-menu .menu-selected i {
    color: #FFFFFF; }
  #container-menu .menu-selected .arrow-selected {
    float: right;
    height: 0px;
    width: 0px;
    margin-top: 7px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: none;
    border-right: 8px solid #ffffff; }
  #container-menu .menu-selected:hover {
    background: #E02222; }

#container-menu .submenu {
  display: none;
  padding: 0;
  margin: 0; }
  #container-menu .submenu li {
    min-height: 25px;
    height: 25px;
    line-height: 25px;
    border: none; }
    #container-menu .submenu li a:hover {
      background: #4B4B4B; }

#content {
  background: #FFFFFF;
  min-height: 500px; }
  #content #body-content {
    margin: 20px 0 0 0; }

#footer {
  color: #999999;
  padding: 10px; }

.menu-focus {
  background: #313131; }

.actions {
  float: right;
  margin: 20px 0 0; }

.notification {
  display: inline-block;
  margin: 10px 3px 0;
  position: relative; }
  .notification i {
    color: gray;
    font-size: 22px;
    padding: 0 0 0 5px; }
  .notification span {
    background: #e02222;
    border-radius: 12px 12px 12px 12px !important;
    color: white;
    font-size: 11px !important;
    height: 14px;
    position: absolute;
    padding: 2px;
    right: 10px;
    top: -5px;
    text-align: center;
    width: 14px; }

.content-notification .first {
  background: #eeeeee;
  cursor: default; }

.content-user-menu .last {
  height: 30px;
  border-top: solid 1px #eeeeee; }

.title {
  color: #666666;
  font-weight: 300;
  font-size: 30px;
  display: inline-block;
  letter-spacing: -1px;
  margin: 20px 0 15px; }

.sub-title {
  background: none repeat scroll 0 0 #EEEEEE;
  color: #333333;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 10px;
  padding: 10px;
  width: 100%; }

/*BOXES*/
.box {
  margin: 0 0 10px 0;
  background: #ffffff;
  border: solid 1px #4B8DF8; }
  .box .box-content {
    margin: 20px 0 0 0;
    width: 100%;
    min-height: 200px;
    padding: 5px; }
  .box .box-header {
    background: #4B8DF8;
    height: 30px;
    width: 100%;
    color: #ffffff; }
    .box .box-header span {
      display: inline-block;
      line-height: 30px;
      padding: 0 0 0 10px; }
    .box .box-header .box-actions {
      display: inline-block;
      float: right; }
      .box .box-header .box-actions a {
        float: right; }

/*DATATABLE*/
select[name*='_length'] {
  width: 50px; }

[id*='_filter'] input {
  width: 150px;
  display: inline;
  margin: 0; }

.action_list {
  background: url("../images/glyphicons-halflings.png") no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px; }

.action_edit {
  background-position: 0 -72px; }

.action_delete {
  background-position: -312px 0; }

.action_answers,
.action_permissions,
.action_cities,
.action_services {
  background-position: -264px 0; }

.action_change_menu, .action_change_active {
  background-position: -240px -24px; }

.action_up_position {
  background-position: -289px -96px; }

.action_down_position {
  background-position: -312px -96px; }

.action_detail,
.action_comments {
  background-position: -264px -24px; }

#drop-user-menu a {
  display: inline-block;
  width: 100%; }
